.chess{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 10px;
grid-template-rows: 105px 150px 150px;
}

body {grid-template-areas:
"h h"
"m m"
"f f"
}
grid-template-columns: 3fr 9fr;
grid-template-rows: auto 1fr;
}

body > footer {
grid-area: f;
border: 1px grey solid;
}
body > header {
grid-area: h;
justify-content: center;
border: 1px grey solid;
}
body > aside {
grid-area: a;
border: 1px grey solid;
}
body > main {
grid-area: m;
border: 1px grey solid;
}